<div id="background" class="login-box">
  <div class="login-logo">
  </div>
  <!-- /.login-logo -->
  <div class="card">

    <div class="card-body login-card-body">
      <p></p>
      <p class="login-box-msg">Restablecer Contraseña</p>
      <hr>
      <form id="new-password">
        <label for="recipient-name" class="col-form-label">Ingresa la nueva contraseña:</label>
        <div class="input-group mb-3">
          <input type="password" class="form-control" id="reset-pass" placeholder="Ingrese contraseña" required autofocus>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
        </div>
        <div class="social-auth-links text-center">
          <button type="submit" class="btn mb-2 btn-success btn-block">Guardar</button>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>