<div class="login-logo">
</div>
<!-- /.login-logo -->
<div class="card card-outline card-danger">

  <div class="card-body login-card-body">
    <p></p>
    <p class="login-box-msg">Restablecer Contraseña</p>
    <hr>
    <form id="reset">
      <label for="recipient-name" class="col-form-label">Correo Electronico:</label>
      <div class="input-group mb-3">
        <input type="email" class="form-control" id="email-reset-pass" placeholder="Ingrese el correo electronico"
          required autofocus>
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-envelope-open-text"></span>
          </div>
        </div>
      </div>
      <div class="input-group mb-3">
      </div>
      <div class="social-auth-links text-center">
        <button type="submit" class="btn mb-2 btn-danger btn-block">Enviar</button>
        <!-- /.col -->
      </div>

      <p class="mb-1">
        <a href="/signin">Regresar a Inicio de Sesión</a>
      </p>
    </form>
  </div>
  <!-- /.login-card-body -->
</div>