<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Editar usuario</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item active">Editar usuario</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <!-- Card Header -->
            <div class="card-header">

                <h3 class="card-title">
                    <i class="fas fa-pencil-alt"></i>
                    Información de Usuario
                    <small>(<small style="color:#FF0000" ;> * </small>Obligatorio )

                    </small>
                </h3>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <form id="formEditUser" method="get">

                    <div class="form-group row">
                        <label for="recipient-name" class="col-sm-2 col-form-label">ID Usuario:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="editIdUsuario" disabled>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="recipient-name" class="col-sm-2 col-form-label">Nombre Empleado:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="userEditEmpleado" disabled>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="recipient-name" class="col-sm-2 col-form-label">Usuario:
                            <label style="color:#FF0000">*</label>
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="userEditAlias">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="recipient-name" class="col-sm-2 col-form-label">Perfil:
                            <label style="color:#FF0000">*</label>
                        </label>
                        <div class="col-sm-10">
                            <select class="form-control input-lg custom-select" id="userEditPerfil">
                            </select>
                        </div>
                    </div>
            </div>
            <div class="card-footer">
                <button type="submit" id="btnCrearUser" class="btn btn-primary">Guardar
                    <i class="fas fa-save"></i>
                </button>
                <button type="button" class="btn btn-danger float-right" onclick="location.href='/usuarios'">Regresar
                    <i class="fas fa-undo-alt"></i>
                </button>
            </div>
            </form>
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>