<h1 style="text-align:center; font-family: Arial, Helvetica;">Reestablecer Password</h1>

<hr>

<p style="font-family: Arial, Helvetica;">Hola {{nombre}}:</p>
<p style="font-family: Arial, Helvetica;">Hemos recibido una solicitud de restablecimiento de contraseña de tu cuenta.
</p>
<p style="font-family: Arial, Helvetica;">Haz clic en el botón que aparece a continuación para cambiar tu contraseña.
</p>
<p style="font-family: Arial, Helvetica;">Ten en cuenta que este enlace es válido solo durante 24 horas. <br>Una vez
    transcurrido el plazo,
    deberás volver a solicitar el restablecimiento de la contraseña.</p>

<a style="
    display:block; 
    font-family: Arial, Helvetica;
    padding: 1rem; 
    background-color: #00C897; 
    color:white; 
    text-transform:uppercase; 
    text-align:center;
    text-decoration: none;" href="{{resetUrl}}">Cambia tu contraseña</a>

<p style="font-family: Arial, Helvetica;">Si no solicitaste este e-mail, puedes ignorarlo.</p>