<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Administrar cajas</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                        <li class="breadcrumb-item active">Administrar cajas</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card" id="cardAdminCajas">
            <!-- Card Header -->
            <div class="card-header">
                <button id="btn-agregar-caja" class="btn btn-primary btn-sm card-tittle">
                    <i class="fas fa-plus"></i> Agregar
                </button>
            </div>

            <!-- Card Body -->
            <div class="card-body">
                <table id="tbl-admin-cajas" class="table table-striped table-bordered text-center" width="100%"></table>

            </div>
            <!-- /.card-body -->
            <!-- <div class="card-footer">
          Footer
        </div> -->
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
</div>

<!--=====================================
MODAL AGREGAR CAJA
======================================-->
<!-- Modal -->
{{!-- <div class="modal fade" id="modalAgregarCaja" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background:#336699; color:white">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Caja</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="formNewCaja">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Caja:</label>
                        <div class="input-group mb-2 mr-sm-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-cash-register"></i></div>
                            </div>
                            <input type="text" class="form-control" id="newCaja" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                    <button type="submit" id="btnAgregarCaja" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
 --}}